<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Pooja/Demo_TestNG_Project">
        <classes>
            <class name="sendKeysFunctionality"></class>
            <class name="alertGetTextFunctionality"></class>
            <class name="sendKeysThroughJavaScriptFunctionality"></class>
            <class name="simpleClickFunctionality"></class>
            <class name="alertAcceptFunctionality"></class>
            <class name="alertDismissFunctionality"></class>
            <class name="alertEnterTextFunctionality"></class>
            <class name="findElementByidFunctionality"></class>
            <class name="Simple_Clicks"></class>
            <class name="java_script_click"></class>
            <class name="dropDownVisibleTextFunctionality"></class>
            <class name="dropDownByValueFunctionality"></class>
        </classes>
    </test>
</suite>