<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Pooja/Demo_TestNG_Project">
        <classes>
            <class name="Send_Keys_Functionality"></class>
        </classes>
    </test>
</suite>